# {{ ansible_managed }}
# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

Port {{ sshd_port }}

# The default is to check both .ssh/authorized_keys and .ssh/authorized_keys2
# but this is overridden so installations will only check .ssh/authorized_keys
AuthorizedKeysFile	.ssh/authorized_keys

# no passwords!!!
PubkeyAuthentication yes
ChallengeResponseAuthentication no
PasswordAuthentication no
PermitEmptyPasswords no

# pam is still needed for pubkey only auth
UsePAM yes
PrintMotd no # pam does that

# only local root
PermitRootLogin no

# override default of no subsystems
Subsystem	sftp	/usr/lib/ssh/sftp-server

# only explicit users
AllowUsers {{ username }}

# and they can do the usual stuff
AllowAgentForwarding yes
AllowTcpForwarding yes
X11Forwarding yes
PermitTunnel yes
PermitTTY yes

