[Unit]
Description=Backup for /mnt/ramdisk
Requires=mnt-ramdisk.mount
After=mnt-ramdisk.mount

[Service]
User=rjernst
Group=rjernst
ExecStart=/bin/bash /home/rjernst/.local/backup-ramdisk.sh
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
